@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;600&family=Roboto:wght@100;300;400;500&family=Work+Sans:wght@300;400&display=swap');

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;

}

.container {
    width: 1170px;
    padding-left: 12px;
    padding-right: 12px;
    margin-left: auto;
    margin-right: auto;
}

nav {
    height: 100px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Events {

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 135%;
    color: #2C49FE;
    z-index: 1;
}

.Span_1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 135%;
    color: #01C8FF;
}

.d_flex {
    display: flex;
}

.align_center {
    align-items: center;
}

.justfy_space_between {
    justify-content: space-between;
}
.justify{
    justify-items: center;
}

.fonts {
    font-family: 'Poppins';
    color: white;
    padding: 6px;
}

.fonts:hover {
    transition: all 1s ease;
    cursor: pointer;
    background-color: #2C49FE;
    border-radius: 5px;
    color: white;
}

.mrgn_rgt {
    margin-right: 16px;
}



@media (max-width:768px) {

    label[for="iconbox"] {
        height: 30px;
        width: 40px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
        z-index: 1;
    }

    label[for="iconbox"]>span {
        width: 100%;
        height: 4px;
        background-color: white;

    }

    .md_screen {
        position: fixed;
        top: 0;
        left: -100%;
        opacity: 0;
        pointer-events: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
        pointer-events: none;
        background-color: black;
        transition: all 600ms  ease-in-out;
    }

    input[type="checkbox"]:checked+ul.md_screen {
        left: 0;
        opacity: 1;
        pointer-events: all;
    }
    .mb_md_20px{
        display: inline-block;
        margin-bottom: 20px;
    }

}
